	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-concrete-mixer-tool:before { content: "\f100"; }
.flaticon-concrete-truck:before { content: "\f101"; }
.flaticon-construction-crane-machine:before { content: "\f102"; }
.flaticon-construction-crane-machine-1:before { content: "\f103"; }
.flaticon-construction-excavator:before { content: "\f104"; }
.flaticon-construction-machine-side-view-with-crane:before { content: "\f105"; }
.flaticon-construction-transport-tool-with-a-crane:before { content: "\f106"; }
.flaticon-excavator:before { content: "\f107"; }
.flaticon-excavator-construction-machine-side-view:before { content: "\f108"; }
.flaticon-excavator-machine-arm:before { content: "\f109"; }
.flaticon-excavator-side-view:before { content: "\f10a"; }
.flaticon-forklift-tool:before { content: "\f10b"; }
.flaticon-roller-machine-of-construction:before { content: "\f10c"; }
.flaticon-tractor:before { content: "\f10d"; }
.flaticon-tractor-side-view:before { content: "\f10e"; }
.flaticon-truck-of-big-size-side-view:before { content: "\f10f"; }