@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
/*
Template variables
*/
/* 
    Basics
*/
html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  background-color: #fff;
  color: #777;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
}

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #edac15;
}
a:hover {
  color: #aeaeae;
}

button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button:focus {
  outline: 0 !important;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important;
}

button:focus {
  outline: 0 !important;
}

.color_text {
  color: #edac15;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
  font-size: 65%;
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  font-size: 75%;
}

.h1, h1 {
  font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 18px;
}

.h5, h5 {
  font-size: 14px;
}

.h6, h6 {
  font-size: 12px;
}

blockquote {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
blockquote h5 {
  margin-top: 10px;
  font-weight: 500;
  color: #edac15;
}

.full-wid {
  width: 100%;
}

/**spaces**/
.space10 {
  height: 10px !important;
}

.space20 {
  height: 20px !important;
}

.space30 {
  height: 30px !important;
}

.space40 {
  height: 40px !important;
}

.space50 {
  height: 50px !important;
}

.space60 {
  height: 60px !important;
}

.space70 {
  height: 70px !important;
}

.space80 {
  height: 80px !important;
}

.space90 {
  height: 90px !important;
}

.space100 {
  height: 100px !important;
}

/**margins**/
.margin-btm-0 {
  margin-bottom: 0px !important;
}

.margin-btm-10 {
  margin-bottom: 10px !important;
}

.margin-btm-20 {
  margin-bottom: 20px !important;
}

.margin-btm-30 {
  margin-bottom: 30px !important;
}

.margin-btm-40 {
  margin-bottom: 40px !important;
}

.margin-btm-50 {
  margin-bottom: 50px !important;
}

.no-padd {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.border-width {
  width: 60px;
  height: 3px;
  background: #edac15;
  margin: 30px 0;
}

.gray-bg {
  background-color: #f5f5f5;
}

.color_text {
  color: #edac15;
}

.center-align {
  margin: 0 auto;
  display: block;
}

.text_color {
  color: #edac15;
}

.dropcap:first-letter {
  display: inline-block;
  content: "";
  padding: 5px 10px;
  background: #edac15;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dropcap1:first-letter {
  display: inline-block;
  content: "";
  color: #edac15;
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/**********back to top*************/
.scrollToTop {
  text-align: center;
  font-weight: bold;
  color: #edac15;
  text-decoration: none;
  font-size: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999;
  display: none;
  opacity: 0.5;
  line-height: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
}

/**preloader**/
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../images/loader.gif") no-repeat center center;
}

@media (min-width: 768px) {
  .vertical-align-child {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
@media (min-width: 1200px) {
  body.boxed {
    background-color: #e9e9e9;
  }

  .wrapper-boxed {
    width: 1170px;
    margin: 0px auto;
    background: #fff;
    border-top: 3px solid #edac15;
  }
}
/**pagination**/
.pagination {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 10px 22px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #edac15;
  text-decoration: none;
  background-color: #f5f5f5;
  border: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #edac15;
  border: 0px;
}

/*
Buttons style
*/
.buttons a {
  margin: 5px;
}

.btn {
  border: 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.btn i {
  margin-left: 5px;
}

.btn-lg {
  padding: 12px 25px;
}

.btn-xl {
  padding: 16px 25px;
}

.btn-link {
  color: #edac15;
}
.btn-link:hover {
  color: #999;
}

.btn-default {
  background-color: #eee;
  color: #333;
}
.btn-default:hover {
  background-color: #edac15;
  color: #fff;
}

.btn-skin {
  background-color: #edac15;
  text-shadow: 0 1px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.btn-skin:hover {
  background-color: #333;
  color: #fff;
}

.btn-dark {
  background-color: #333;
  text-shadow: 0 1px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.btn-dark:hover {
  background-color: #edac15;
  color: #222;
}

.btn-white {
  background-color: #fff;
  color: #333;
}
.btn-white:hover {
  background-color: #f3f3f3;
  color: #333;
}

.btn-border-dark {
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
}
.btn-border-dark:hover {
  color: #fff;
  background-color: #333;
}

.btn-border-skin {
  border: 2px solid #edac15;
  background-color: transparent;
  color: #edac15;
}
.btn-border-skin:hover {
  color: #fff;
  background-color: #edac15;
}

.btn-border-white {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.btn-border-white:hover {
  color: #333;
  background-color: #fff;
}

/*
Titles style
*/
.center-title {
  text-align: center;
  position: relative;
}
.center-title h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.center-title .border-width {
  margin-top: 20px;
}

.left-title {
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 30px;
}
.left-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #edac15;
}

/*
card boxes
*/
.service-box .service-thumb {
  position: relative;
  overflow: hidden;
}
.service-box .service-desc {
  padding: 15px;
  background: #fff;
}
.service-box .service-desc .border-width {
  margin: 5px 0;
}
.service-box .service-desc p {
  margin-top: 10px;
}
.service-box .service-desc h4 {
  font-weight: 500;
}

.icon-box .border-width {
  margin: 0px;
  margin-bottom: 10px;
}
.icon-box i {
  color: #edac15;
  float: left;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #edac15;
  display: block;
  text-align: center;
}
.icon-box i:before {
  margin-left: 0px;
  font-size: 40px;
}
.icon-box .content {
  overflow: hidden;
  text-align: left;
}
.icon-box .content h4 {
  font-weight: 500;
}

.support-info .col-sm-4 {
  text-align: center;
}
.support-info i {
  color: #edac15;
  margin-bottom: 20px;
  font-size: 30px;
  display: block;
  width: 100%;
}

/*
Call to actions
*/
.cta {
  padding: 40px 0;
  background: #f5f5f5;
}
.cta .btn {
  margin-top: 10px;
}
.cta p {
  margin-bottom: 0px;
}
.cta h3 {
  font-size: 30px;
}

.newsletter {
  background-color: #f5f6f8;
  padding: 40px 0;
}
.newsletter .b-newsletter {
  margin-top: 10px;
  position: relative;
}
.newsletter .b-newsletter .form-control {
  height: 45px;
  border-color: transparent;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.newsletter .b-newsletter .form-control.success {
  border-color: #2b542c;
}
.newsletter .b-newsletter .form-control.error {
  border-color: #FC3116;
}
.newsletter .b-newsletter button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 45px;
  background: transparent;
  border: 0px;
  color: #edac15;
  font-size: 30px;
}

.c_info_bar {
  padding-top: 30px;
  background: #edac15;
}
.c_info_bar h4 {
  margin-bottom: 0px;
  font-size: 25px;
}
.c_info_bar h4 i {
  margin-right: 15px;
}

/*
Top bar style
*/
.top-bar {
  padding-top: 10px;
}
.top-bar span {
  display: inline-block;
  margin-right: 10px;
}
.top-bar span i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #edac15;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  color: #fff;
}
.top-bar .list-inline li {
  padding: 0px;
}
.top-bar .list-inline li a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: block;
  background: #f5f5f5;
  font-size: 20px;
  color: #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.top-bar .list-inline li a:hover {
  color: #edac15;
  background: #333;
}
.top-bar.top-bar-dark {
  background: #343a40 !important;
}
.top-bar.top-bar-dark span {
  color: #aeaeae;
}
.top-bar.top-bar-dark .list-inline li a {
  background-color: #333;
  color: #fff;
}
.top-bar.top-bar-dark .list-inline li a:hover {
  color: #fff;
  background: #edac15;
}

/* 
    Navbar css
*/
.navbar .navbar-nav .nav-link {
  font-weight: 700;
  font-size: .85rem;
  text-transform: uppercase;
}

.navbar.sticky {
  z-index: 9999 !important;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.2);
}

/**search form**/
.search-toggle {
  position: relative;
}

.search-form {
  position: absolute;
  right: 0;
  width: 250px;
  top: 100%;
  padding: 5px;
  background-color: #e1e1e1;
  display: none;
  z-index: 9;
}
.search-form .form-control {
  border: 0px;
}

@media (min-width: 992px) {
  .header-transparent-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .header-transparent-top .navbar.navbar-dark.bg-dark, .header-transparent-top .top-bar.top-bar-dark {
    background-color: transparent !important;
  }
  .header-transparent-top .navbar.navbar-dark.bg-dark span, .header-transparent-top .navbar.navbar-dark.bg-dark li, .header-transparent-top .navbar.navbar-dark.bg-dark a, .header-transparent-top .navbar.navbar-dark.bg-dark a.nav-link, .header-transparent-top .top-bar.top-bar-dark span, .header-transparent-top .top-bar.top-bar-dark li, .header-transparent-top .top-bar.top-bar-dark a, .header-transparent-top .top-bar.top-bar-dark a.nav-link {
    color: #fff !important;
  }
  .header-transparent-top .navbar.navbar-dark.bg-dark li.active a.nav-link, .header-transparent-top .top-bar.top-bar-dark li.active a.nav-link {
    color: #edac15 !important;
  }

  .navbar-expand-lg {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: .9rem;
    padding-right: .9rem;
  }

  .navbar-brand > img {
    display: block;
    margin-top: 3px;
  }

  body.one-page .navbar.navbar-dark.bg-dark {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  body.one-page .navbar.navbar-dark.bg-dark.is-stick {
    animation: fadeInDown .4s;
    -webkit-animation: fadeInDown .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #222 !important;
  }

  .navbar.navbar-light.bg-white.navbar-sticky.is-stick {
    animation: fadeInDown .4s;
    -webkit-animation: fadeInDown .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #edac15;
}

/*
Dropdown css
*/
.dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  min-width: 190px;
  background-color: #212121;
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
  min-width: 210px;
  border-color: #333;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  color: #edac15;
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li:last-child a {
  border-bottom: 0px;
}

/**third level menu**/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  content: "\f105";
  font-family: "FontAwesome";
  margin-top: 2px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/******************

MULTI LEVEL DROPDOWN CSS

*********************/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: -2px;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  top: 11px;
  right: 15px;
  font-size: 11px;
  content: "\f3d3";
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: "IonIcons";
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
    padding-left: 20px;
    display: block;
    margin-left: 15px;
  }

  .dropdown-menu > li > a {
    border-bottom: 1px solid #ddd;
    padding: 8px 20px;
  }
  .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
/*
form-elements style
*/
.form-control, input, select, textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  min-height: 45px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 2px solid #e1e1e1;
  font-size: 13px;
}
.form-control:focus, input:focus, select:focus, textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #edac15;
}

/*
master slider
*/
.title2 {
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

.sub-title2 {
  color: #fff;
  font-size: 14px;
}

.sub-title3 {
  color: #fff;
  font-size: 34px;
  font-weight: 300;
  text-transform: uppercase;
}

.btn1 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 25px;
  background-color: #edac15;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  text-shadow: 0 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn1 i {
  margin-left: 5px;
}

.btn1:hover {
  color: #333;
  background-color: #ddd;
}

.btn2 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 25px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 600;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.btn2 i {
  margin-left: 5px;
}

.btn2:hover {
  color: #333;
  background-color: #edac15;
}

/**carousel service slider**/
.service-slider .owl-controls {
  position: absolute;
  width: auto;
  top: 0;
  margin-top: -50px;
  right: 0px;
}
.service-slider .owl-controls .owl-buttons div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  font-size: 35px;
  color: #edac15;
}

/**tesimonials**/
.testimonials {
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  padding: 60px 0;
  background-color: #222;
}
.testimonials .center-title h1 {
  color: #fff;
}

.testi-slider {
  padding: 0px 30px;
}
.testi-slider i {
  color: #edac15;
  font-size: 50px;
  display: block;
}
.testi-slider p {
  color: #fff;
  font-style: italic;
  margin: 20px 0;
  font-size: 20px;
  line-height: 35px;
}
.testi-slider h5 {
  color: #edac15;
  text-transform: uppercase;
  font-weight: 700;
}

.owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 1px solid #edac15;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #edac15;
}

/* 
   Sidebar widget
*/
.sidebar-widget {
  margin-bottom: 30px;
}
.sidebar-widget .side-search form {
  position: relative;
}
.sidebar-widget .side-search form button {
  background: transparent;
  border: 0px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.card-list {
  border: 1px solid #e1e1e1;
}
.card-list li a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.card-list li a span {
  color: #777;
}
.card-list li a span em {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
}
.card-list li a h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.card-list li a:hover {
  background-color: #f5f5f5;
}
.card-list li:last-child a {
  border-bottom: 0px;
}

.category-list {
  margin: 0;
}
.category-list li {
  padding: 3px 0;
  border-bottom: 1px dashed #eee;
}
.category-list li a {
  color: #999;
}
.category-list li a:before {
  font-family: 'Ionicons';
  content: "\f10b";
  margin-right: 10px;
}
.category-list li a:hover {
  color: #edac15;
}

.side-nav li {
  margin: 0;
  padding: 0;
}
.side-nav li a {
  display: block;
  padding: 10px 15px;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.side-nav li.active a, .side-nav li a:hover {
  background-color: #edac15;
  color: #fff;
}
.side-nav li.active a {
  text-shadow: 0 1px rgba(0, 0, 0, 0.15);
}

/* 
    tabs
*/
.tab-content {
  padding-top: 30px;
}

.nav.nav-tabs > li.nav-item > a.nav-link {
  border: 0px;
  color: #333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.nav.nav-tabs > li.nav-item > a.nav-link:hover {
  color: #edac15;
  border-bottom-color: #edac15;
  background-color: transparent;
}

.nav.nav-tabs > li.nav-item > a.nav-link.active, .nav-tabs > .nav-item > a.nav-link.active:focus, .nav-tabs > .nav-item > a.nav-link:hover {
  border: 0px;
  color: #edac15;
  border-bottom: 2px solid #edac15;
}

/*
Blog style
*/
.post .post-meta h4 {
  font-size: 24px;
}
.post .post-meta h4 a {
  color: #222;
}
.post .post-meta h4 a:hover {
  color: #edac15;
}
.post .post-meta ul li a {
  font-size: 12px;
  color: #777;
}
.post .post-meta ul li a:hover {
  color: #edac15;
}

.blog-row hr {
  margin: 30px 0;
}

.comments li:nth-child(even) {
  padding: 15px;
  background-color: #f5f5f5;
  margin: 20px 0;
}
.comments .thumb {
  float: left;
  margin-right: 20px;
}
.comments .thumb i {
  font-size: 40px;
}
.comments .content {
  overflow: hidden;
}
.comments h5 {
  text-transform: capitalize;
  font-weight: 700;
}
.comments p {
  margin-bottom: 0px;
}

/*
Staff
*/
.person-col {
  background: #f5f5f5;
  border: 1px solid #ddd;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
.person-col h4 {
  margin-bottom: 5px;
}
.person-col span {
  color: #edac15;
  display: block;
  margin-bottom: 10px;
}
.person-col .person-desc {
  padding: 15px;
}

/*
Accordions light
*/
.card.accordions-light {
  margin-bottom: 10px;
  border: 0px;
}

.card.accordions-light .card-header {
  background-color: transparent;
  border-bottom: 0px;
  padding-left: 40px;
  position: relative;
  padding: 0px;
}

.card.accordions-light .card-header a {
  padding: 10px 15px;
  border-radius: 0px;
  font-size: 18px;
  display: block;
  color: #fff;
  background-color: #edac15;
}

.card.accordions-light .card-header a:before {
  font-family: 'Ionicons';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f3d8";
  margin-right: 5px;
}

.card.accordions-light .card-header a.collapsed {
  background-color: #fff;
  color: #999;
}

.card.accordions-light .card-header a.collapsed:before {
  font-family: 'Ionicons';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f3d0";
}

/*
Breadcrumb style
*/
.page-title h2 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

/*
Projects
*/
.cbp-l-grid-agency-desc {
  font-family: "Open Sans", sans-serif;
}

.cbp-l-filters-text .cbp-filter-item {
  font-family: "Open Sans", sans-serif;
}

.cbp-l-grid-agency-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.prject-box {
  position: relative;
  overflow: hidden;
  display: block;
}
.prject-box img {
  -moz-transition: all 2s ease-in-out 0s;
  -o-transition: all 2s ease-in-out 0s;
  -webkit-transition: all 2s ease-in-out 0s;
  transition: all 2s ease-in-out 0s;
  opacity: 1;
}
.prject-box .project-overlay {
  position: absolute;
  width: 96%;
  height: 96%;
  left: 2%;
  top: 2%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.prject-box .project-overlay h4 {
  color: #fff;
  position: absolute;
  bottom: -100%;
  left: 20px;
  font-weight: 600;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.prject-box .project-overlay h4 i {
  margin-left: 8px;
}
.prject-box:hover .project-overlay {
  opacity: 1;
}
.prject-box:hover .project-overlay h4 {
  bottom: 20px;
}
.prject-box:hover img {
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0.7;
}

.project-info li {
  line-height: 40px;
  vertical-align: middle;
  margin: 0;
  padding: 0px;
  background: #f5f6f8;
  margin-top: 3px;
}
.project-info li i {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #edac15;
  font-size: 25px;
  line-height: 40px;
  margin-right: 20px;
  color: #fff;
}

/*
Footer styles
*/
.footer {
  background-color: #222;
  padding: 60px 0;
  padding-bottom: 30px;
}
.footer p {
  color: #aeaeae;
}
.footer h3 {
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.footer h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #edac15;
}
.footer ul.list-unstyled li {
  vertical-align: middle;
}
.footer ul.list-unstyled li a {
  display: block;
  padding: 5px 0;
  color: #aeaeae;
}
.footer ul.list-unstyled li a:hover {
  color: #edac15;
}
.footer ul.list-unstyled li a:before {
  font-family: 'Ionicons';
  content: "\f10b";
  margin-right: 10px;
}
.footer hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.footer .list-inline li {
  padding: 0px;
}
.footer .list-inline li:after {
  content: "/";
  margin: 0px 8px;
}
.footer .list-inline li:last-child:after {
  content: "";
}

.latest-projects a {
  width: 130px;
  display: block;
  float: left;
  margin: 2px;
}

/**404**/
.error-digit i {
  display: block;
  font-size: 100px;
  line-height: 100px;
  color: #ddd;
  margin-bottom: 30px;
}

/**social**/
.social li {
  padding: 0px;
}
.social li a {
  margin: 5px;
  color: #aeaeae;
  font-size: 35px;
}
.social li a:hover {
  color: #edac15;
}

/**static hero**/
.hero-parallax {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.hero-parallax .hero-inner {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}
.hero-parallax .hero-inner .hero-content {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.hero-parallax .hero-inner .hero-content h1 {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.hero-parallax .hero-inner .hero-content p {
  color: #fff;
  text-transform: capitalize;
}

/**youtube player**/
.intro-ytp {
  height: 100%;
  width: 100%;
  background: url(../images/video-fallback.jpg) no-repeat center;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  position: relative;
}

.video-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video-text .video-content {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-text .video-content .video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.video-text .video-content .video-inner h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}

.video-text .video-content .video-inner h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}

.video-text .video-content .video-inner p {
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

/****Responsive css**/
@media (max-width: 991px) {
  .top-bar {
    display: none;
  }

  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    position: relative;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 3px;
    padding: 0px;
    border: 0px;
  }

  .hero-banner .hero-overlay .hero-inner .hero-content h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .hero-banner .hero-overlay .hero-inner .hero-content p {
    font-size: 13px;
    line-height: 22px;
  }

  .hero-banner .hero-overlay .hero-inner .hero-content .btn-xl {
    padding: 6px 12px;
  }

  .top-bar .text-right {
    text-align: left;
    margin-top: 20px;
  }

  .search-form {
    padding: 0px 15px;
    background-color: transparent;
    width: 100%;
  }

  .cta {
    text-align: center;
  }

  .space100 {
    height: 70px;
  }

  .landing-hero {
    margin-top: 49px;
  }

  body.one-page .navbar-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #222 !important;
  }

  .dropdown-menu {
    border: 0px;
  }

  .search-form {
    position: absolute;
    right: auto;
    width: 100%;
    top: 100%;
    padding: 5px;
    background-color: #e1e1e1;
    z-index: 9;
  }

  .dropdown-menu > .dropdown-item, .dropdown-menu > li > a {
    border-bottom: 0px !important;
  }

  .dropdown-submenu .dropdown-menu {
    padding-left: 30px;
    display: block;
  }

  .video-text .video-content .video-inner h2 {
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .page-title h2 {
    letter-spacing: 0px;
    font-size: 20px;
    margin: 0px;
  }
}
